---
layout: layouts/base.njk
title: Platser
date: 2023-01-01
permalink: /platser/
eleventyNavigation:
  key: Platser
  title: Platser
  order: 2
---

<h1>{{ title }}</h1>

{% set platserlista = collections.platser %}
{% include "components/locationsList.njk" %} 