---
layout: layouts/base.njk
title: Sidor
date: 2023-01-01
permalink: /sidor/
eleventyNavigation:
  key: Sidor
  title: Sidor
  order: 3
---

<h1>{{ title }}</h1>

<ul>
{% for page in collections.sidor %}
  <li><a href="{{ page.url | url }}">{{ page.data.title }}</a></li>
{% endfor %}
</ul> 