---
layout: layouts/base.njk
section: blog
permalink: /blogg/index.html
---
<h1>{{ title }}</h1>

{{ content | safe }}

{% set postsList = collections.blogg %}
{% include "components/postsList.njk" %}
