:root {
	--primary: #2e51ed;
	--secondary: white;
	--background: #f1f1f1;
	font-size: 1.2rem;
	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizelegibility;
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: 100%;
}