:root {
	--primary: #0D1E40;
	--secondary: white;
	--background: #f1f1f1;
	font-size: 1.2rem;
	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizelegibility;
	-webkit-tap-highlight-color: transparent;
	text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--primary);
	font-family: "Helvetica", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: var(--secondary);
	color: var(--primary);
}

header a {
	color: var(--primary);
}

header nav {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

header nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	gap: 1rem;
}

header nav li {
	display: inline-block;
}
